.contenedor {
    position: relative;
    background-color: #E5E5E5;
    font-family: 'Raleway', sans-serif;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    grid-template-areas: "header"
        "contenido"
        "article"
        "footer";


}

/*ESTILOS PARA EL MENU INTERACTIVO*/

/*Estilos del contenido: descripción*/
.contenido {
    grid-area: contenido;
    padding: 80px 0;
}

.descripcion {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    padding: 16px 18px;

}

.descripcion .mifoto {
    border-radius: 50%;
}

.resumen p:nth-child(1) {
    font-size: 22px;
    line-height: 26px;
    font-weight: bold;
    text-align: justify;
    padding-bottom: 16px;
}

.resumen p:nth-child(2) {
    font-size: 14px;
    line-height: 16px;
    padding-bottom: 16px;
}

.links .items {
    display: flex;
    list-style: none;
    padding-bottom: 32px;
}

.items a {
    text-decoration: none;
    font-size: 16px;
    color: #464646;
    font-weight: bold;
    padding-right: 10px;
}

.items a::after {
    content: "↗";
}

/*Estilos del contenido: acerca de mi*/

.sobre_mi {
    background-color: #EAF2FD;
}

.sobre_mi div {
    padding: 32px 18px;

}

.sobre_mi h1 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 16px;
}

.sobre_mi p {
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    line-height: 16px;
}

/*Estilos del contenido: skills*/
.skills {
    padding: 16px 18px;
}

.skills .titulo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.lista-skills div {
    width: 156px;
    height: 118px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
}

.lista-skills {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.lista-skills img {
    width: 30%;
}

.lista-skills p {
    padding-top: 12px;
    font-size: 16px;
    font-weight: bold;
}

/*Estilos del contenido: hobbies*/
.hobbies {
    padding: 16px 18px;
}

.hobbies .titulo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.lista-hobbies div {
    width: 156px;
    height: 118px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 16px;
}

.lista-hobbies {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.lista-hobbies img {
    width: 30%;
}

.lista-hobbies p {
    padding-top: 12px;
    font-size: 16px;
    font-weight: bold;
}

/*Estilos del contenido: formacion_academica*/


.contenedor_formacion {
    padding: 16px 18px;
    margin: 0 auto;

}

.lista_formacion {
    display: grid;
    gap: 32px;
    justify-items: center;
}

.item_formacion {
    padding-top: 16px;
}

.formacion_academica .titulo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.item_formacion .imagen {
    width: 296px;
    height: 118px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item_formacion .imagen img {
    width: 84px;
    height: 58px;
}

.item_formacion h1 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 8px;
}

.item_formacion p {
    font-size: 14px;
    padding-top: 8px;
}

/*Estilos del contenido: experiencia*/
.experiencia {
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experiencia .titulo {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

.experiencia .general img {
    width: 296px;
    height: 144px;
}

.general .info h1 {
    font-size: 16px;
    font-weight: bold;
    padding-top: 16px;
}

.general .info p {
    font-size: 14px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.info .botones a:nth-child(1) {
    font-size: 14px;
    text-decoration: none;
    width: 76px;
    height: 16px;
    color: #2A7AE4;
    border: 1px solid #2A7AE4;
    padding: 10px;
}

.info .botones a:nth-child(2) {
    font-size: 14px;
    text-decoration: none;
    width: 76px;
    height: 16px;
    color: #FFFFFF;
    background-color: #2A7AE4;
    padding: 10px;
}

/*Estilos del contenido: Contacto*/
.contacto div {
    background-color: #EAF2FD;
}

.formulario {
    padding: 16px 18px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    justify-content: center;
    align-items: center;
}

.encabezado {
    padding: 16px 18px;
}

.encabezado h1 {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 16px;
}

.encabezado p {
    line-height: 16px;
    text-align: justify;
}

.input_padron {
    width: 296px;
    height: 36px;
    font-size: 18px;
    border-style: none;
}

.formulario .input {
    display: flex;
    flex-direction: column;
}

.btn_enviar {
    margin-top: 32px;
    background-color: #2A7AE4;
    font-size: 14px;
    color: #FFFFFF;
    padding: 10px;
    border: none;

}

.redes_sociales {
    width: 20px;
    height: 150px;
    background-image: radial-gradient(circle at 26.15% 45.8%, #5473c9 0, #1b3464 50%, #00000e 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.redes_sociales img {
    width: 50px;
}

.redes_sociales {
    position: fixed;
    grid-area: article;
    top: 375px;
    right: 0;
    padding: 32px;
}

.redes_sociales img:hover {
    width: 65px;
    transition: 1s;
}

.footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    color: #fff;
    background-image: radial-gradient(circle at 26.15% 45.8%, #5473c9 0, #1b3464 50%, #00000e 100%);
}

.footer p {
    font-size: 16px;
}

@media screen and (min-width:768px) {


    .descripcion {
        flex-direction: row;
    }

    .lista-skills,
    .lista-hobbies {
        grid-template-columns: repeat(3, 1fr);
    }

    .lista_formacion {
        grid-template-columns: repeat(3, 1fr);
    }

    .descripcion,
    .sobre_mi div,
    .skills,
    .hobbies,
    .contenedor_formacion,
    .experiencia,
    .formulario,
    .encabezado {
        padding: 18px 32px;
    }

    .lista-skills div,
    .lista-hobbies div,
    .item_formacion .imagen {
        width: 224px;
        height: 118px;
    }

    .experiencia .general img {
        width: 704px;
        height: 320px;
    }

    .input_padron {
        width: 704px;
        height: 56px;
    }

}

@media screen and (min-width:1200px) {
    .menu .link {
        display: flex;
    }

    .lista-skills,
    .lista-hobbies {
        grid-template-columns: repeat(6, 1fr);
    }

    .lista-skills div,
    .lista-hobbies div {
        width: 168px;
        height: 186px;
    }

    .item_formacion {
        width: 368px;
        height: 286px;
    }

    .item_formacion .imagen {
        width: auto;
        height: 80%;
    }

    .lista_formacion {
        grid-template-columns: repeat(3, 1fr);
    }

    .experiencia .general img {
        width: 704px;
        height: 320px;
    }

    .sobre_mi p {
        width: 751px;
    }

    .menu .link:hover {
        color: #000;
        font-weight: bold;
    }
}